body {
  margin: 0;

  background: linear-gradient(to left bottom, lightblue, lightpink, lightblue);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
}
.container {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 10px;
  width: 60%;
  text-align: center;
  color: darkgreen;
}
.heading {
  font-size: 30px;
  font-weight: 200;
  text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.3);
}
.jokes {
  font-size: 25px;
  font-weight: 400;
  margin: 40px;
}
.btn {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  padding: 10px 15px;
  color: darkgreen;
  cursor: pointer;
}
.btn:hover {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  transition: all 300ms ease;
}
